* {
  background-color:darkblue;
}

.App {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  background-color:aliceblue; 
  justify-content: center;
  min-height: 70vh;
  min-width: 70vw;
  border: 1px solid black;
  border-radius: 1%;
}